<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">HEY, <br>This Blog Is Created Using Basics Of Angular</h1>
        <p class="lead">It Uses: </p>
        <ul>
            <li>Routing between components</li>
            <li>ngModel</li>
            <li>Services</li>
            <li>Interpolation</li>
            <li>Two-Way binding</li>
            <li>event binding</li>
            <li>property binding</li>
            <li>template, directives, providers, style, pipes, selector etc</li>
            <li><strong>REST API</strong></li>
            <ul>
                <strong>It uses REST API for the backend use:</strong>
                <li>http request</li>
                <li>http verbs like: </li>
                <li>GET</li>
                <li>POST</li>
                <li>PUT</li>
                <li>DELETE</li>

            </ul>
        </ul>
    </div>
</div>